{
  "plugins": [],
  "extends": [
    "plugin:@typescript-eslint/recommended"
  ],
  "parser": "@typescript-eslint/parser",
  "settings": {
    "import/parsers": {
      "@typescript-eslint/parser": [".ts", ".tsx"]
    },
    "import/resolver": {
      // use <root>/tsconfig.json
      "typescript": {}
    }
  },
  "rules": {
    "@typescript-eslint/explicit-function-return-type": "off",
    "@typescript-eslint/indent": ["error", 2, {
      "ignoredNodes": [
        "SwitchCase",
        "TSTypeReference", "TSTypeReference *",
        "TSTypeParameterInstantiation", "TSTypeParameterInstantiation *"
      ]
    }],
    "@typescript-eslint/no-explicit-any": "off",
    "@typescript-eslint/no-empty-function": "off",
    "@typescript-eslint/no-inferrable-types": "off",
    "@typescript-eslint/no-use-before-define": "off",
    "@typescript-eslint/ban-ts-ignore": "off",
    "@typescript-eslint/explicit-module-boundary-types": "off",
    "import/extensions": "off",
    "arrow-parens": "off",
    "implicit-arrow-linebreak": "off",
    "comma-dangle": "off",
    "import/no-cycle": "off",
    "import/no-extraneous-dependencies": "off",
    "import/prefer-default-export": "off",
    "no-restricted-imports": ["error", {
      "paths":  [{
        "name": "lodash",
        "message": "Import specific lodash methods instead."
      }]
    }],
    "no-unused-expressions": ["error", { "allowShortCircuit": true }],
    "no-use-before-define": "off",
    "object-curly-newline": "off",
    "operator-linebreak": "off",
    "quotes": ["error", "single", { "avoidEscape": true }],
    "no-shadow": "off",
    "@typescript-eslint/no-shadow": ["error"],
    "@typescript-eslint/no-misused-promises": "off",
    "@typescript-eslint/ban-types": "off",
    "no-underscore-dangle": "off"
  }
}
